body {
    font-size: x-large;
    font-family: 'Noto Sans Mono', monospace;
    background-image: url(img/game.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100px;
    height: 100px;
    /* background: rgb(35, 166, 241); */
}
p {
    padding: 10px;
}
.container {
    margin-top: 20px;
}
.row {
    background: rgb(5, 5, 95);
    color: white;
    padding: 20px;
}
.col-xl {
    background: rgb(5, 5, 95);
    color: white;
    padding: 10px;
}
.col-md-6{
    background: rgb(5, 5, 95);
    color: white;
    padding: 10px;
}
